.auth-form-container, .login-form, .register-form
{
    display: flex;
    flex-direction: column;
    text-align: center;
}

@media screen and (min-width: 600px)
{
    
.auth-form-container
{
    padding: 5rem;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    margin: 0.5rem;
}
}

body {
    /* background: linear-gradient(79deg,#F7944D, #C66FBC 48%,#7439db  ); */
    background-image: linear-gradient(79deg, #7439db, #C66FBC 48%, #F7944D);
    display: flex; 
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    color: white;
  }

label
{
    text-align: left;
    padding: 0.25rem 0;
}

input
{
    margin: 0.5rem 0;
    padding: 1rem;
    border: none;
    border-radius: 10px;
}

button
{
    border: none;
    background-color: rgb(251, 251, 251);
    padding: 20px;
    border-radius: 10px;
    cursor: pointer; 
}

.link-btn
{
    background: none;
    color: rgb(248, 248, 248);
    text-decoration: underline;
}

.button:hover
{
    /* background-color: rgb(199, 20, 20); */
    background-color: rgb(194, 191, 191);
}