.center-form {
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    height: 100%; /* Make sure the container takes up the full height of the viewport */
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.form-item {
    display: block; /* Set display to "block" to stack divs vertically */
    margin-bottom: 20px; /* Add some spacing between items */
}

.form-item input[type="email"],
.form-item input[type="password"] {
    margin-top: 10px;
}